* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v511_989 {
    width: 100%;
    height: 7505px;
    background: url("../images/v511_989.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_990 {
    width: 100%;
    height: 533px;
    background: url("../images/v511_990.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_991 {
    width: 100%;
    height: 533px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_992 {
    width: 100%;
    height: 533px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_993 {
    width: 112px;
    height: 72px;
    background: url("../images/v511_993.png");
    opacity: 1;
    position: absolute;
    top: 257px;
    left: 402px;
    border: 1.5px solid rgba(49,158,72,1);
  }
  .v511_994 {
    width: 632px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 246px;
    left: 324px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 76px;
    opacity: 1;
    text-align: center;
  }
  .v511_995 {
    width: 100%;
    height: 1940px;
    background: url("../images/v511_995.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 533px;
    left: 10px;
    overflow: hidden;
  }
  .v511_996 {
    width: 100%;
    height: 100%;
    background: rgba(253,245,243,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_997 {
    width: 160px;
    height: 137px;
    background: url("../images/v511_997.png");
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 523px;
    border: 1.5px solid rgba(49,158,72,1);
  }
  .v511_998 {
    width: 832px;
    color: rgba(2,58,21,1);
    position: absolute;
    top: 83px;
    left: 229px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v511_999 {
    width: 377px;
    color: rgba(86,124,73,1);
    position: absolute;
    top: 227px;
    left: 446px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v511_1000 {
    width: 317px;
    height: 673px;
    background: url("../images/v511_1000.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 451px;
    left: 85px;
    overflow: hidden;
  }
  .v511_1001 {
    width: 317px;
    height: 475px;
    background: url("../images/v511_1001.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    overflow: hidden;
  }
  .v511_1002 {
    width: 284px;
    height: 236px;
    background: url("../images/v511_1002.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 437px;
    left: 16px;
    overflow: hidden;
  }
  .v511_1003 {
    width: 284px;
    height: 236px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1004 {
    width: 231px;
    color: rgba(2,58,21,1);
    position: absolute;
    top: 19px;
    left: 26px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v511_1005 {
    width: 234px;
    color: rgba(86,124,73,1);
    position: absolute;
    top: 85px;
    left: 24px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v511_1006 {
    width: 105px;
    height: 51px;
    background: url("../images/v511_1006.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 87px;
    overflow: hidden;
  }
  .v511_1007 {
    width: 101px;
    height: 2px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 4px;
    overflow: hidden;
  }
  .v511_1008 {
    width: 75px;
    color: rgba(49,158,72,1);
    position: absolute;
    top: 24px;
    left: 2px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v511_1009 {
    width: 9px;
    height: 13px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v511_1010 {
    width: 343px;
    height: 673px;
    background: url("../images/v511_1010.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 451px;
    left: 450px;
    overflow: hidden;
  }
  .v511_1011 {
    width: 317px;
    height: 475px;
    background: url("../images/v511_1011.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 25px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    overflow: hidden;
  }
  .v511_1012 {
    width: 326px;
    height: 236px;
    background: url("../images/v511_1012.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 437px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1013 {
    width: 284px;
    height: 236px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 42px;
    overflow: hidden;
  }
  .v511_1014 {
    width: 231px;
    color: rgba(2,58,21,1);
    position: absolute;
    top: 19px;
    left: 68px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v511_1015 {
    width: 234px;
    color: rgba(86,124,73,1);
    position: absolute;
    top: 85px;
    left: 67px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v511_1016 {
    width: 235px;
    height: 51px;
    background: url("../images/v511_1016.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1017 {
    width: 101px;
    height: 2px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 134px;
    overflow: hidden;
  }
  .v511_1018 {
    width: 75px;
    color: rgba(49,158,72,1);
    position: absolute;
    top: 24px;
    left: 133px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v511_1019 {
    width: 9px;
    height: 13px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v511_1020 {
    width: 473px;
    height: 673px;
    background: url("../images/v511_1020.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 451px;
    left: 710px;
    overflow: hidden;
  }
  .v511_1021 {
    width: 317px;
    height: 475px;
    background: url("../images/v511_1021.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 156px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    overflow: hidden;
  }
  .v511_1022 {
    width: 456px;
    height: 236px;
    background: url("../images/v511_1022.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 437px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1023 {
    width: 284px;
    height: 236px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 172px;
    overflow: hidden;
  }
  .v511_1024 {
    width: 231px;
    color: rgba(2,58,21,1);
    position: absolute;
    top: 19px;
    left: 198px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v511_1025 {
    width: 234px;
    color: rgba(86,124,73,1);
    position: absolute;
    top: 85px;
    left: 197px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v511_1026 {
    width: 366px;
    height: 51px;
    background: url("../images/v511_1026.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 151px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1027 {
    width: 101px;
    height: 2px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 264px;
    overflow: hidden;
  }
  .v511_1028 {
    width: 75px;
    color: rgba(49,158,72,1);
    position: absolute;
    top: 24px;
    left: 263px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v511_1029 {
    width: 9px;
    height: 13px;
    background: rgba(49,158,72,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v511_1030 {
    width: 100%;
    height: 1169px;
    background: url("../images/v511_1030.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1885px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1031 {
    width: 100%;
    height: 100%;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1032 {
    width: 640px;
    height: 100%;
    background: url("../images/v511_1032.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1033 {
    width: 156px;
    height: 188px;
    background: rgba(86,124,73,1);
    opacity: 1;
    position: absolute;
    top: 881px;
    left: 387px;
  }
  .v511_1034 {
    width: 450px;
    height: 464px;
    background: url("../images/v511_1034.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 442px;
    left: 692px;
    overflow: hidden;
  }
  .v511_1035 {
    width: 420px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 29px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1036 {
    width: 62px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 402px;
    left: 29px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1037 {
    width: 101px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 361px;
    left: 30px;
    font-family: Cormorant;
    font-weight: SemiBold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .v511_1038 {
    width: 70px;
    height: 17px;
    background: url("../images/v511_1038.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 361px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1039 {
    width: 28px;
    height: 17px;
    background: url("../images/v511_1039.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 42px;
    overflow: hidden;
  }
  .v511_1040 {
    width: 28px;
    background: url("../images/v511_1040.png");
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 0px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v511_1041 {
    width: 4px;
    height: 17px;
    background: url("../images/v511_1041.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 24px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v511_1042 {
    width: 28px;
    height: 17px;
    background: url("../images/v511_1042.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 17px;
    left: 28px;
    overflow: hidden;
  }
  .v511_1043 {
    width: 28px;
    background: url("../images/v511_1043.png");
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v511_1044 {
    width: 4px;
    height: 17px;
    background: url("../images/v511_1044.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 24px;
    border: 2px solid rgba(255,255,255,1);
  }
  .v511_1045 {
    width: 131px;
    height: 10px;
    background: url("../images/v511_1045.png");
    opacity: 1;
    position: absolute;
    top: 347px;
    left: 481px;
    border: 1.5px solid rgba(49,158,72,1);
  }
  .v511_1046 {
    width: 369px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 178px;
    left: 726px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 76px;
    opacity: 1;
    text-align: left;
  }
  .v511_1047 {
    width: 100%;
    height: 569px;
    background: url("../images/v511_1047.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2947px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1048 {
    width: 100%;
    height: 569px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1049 {
    width: 100%;
    height: 569px;
    background: rgba(2,58,21,0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1050 {
    width: 128px;
    height: 69px;
    background: url("../images/v511_1050.png");
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 320px;
    border: 1.5px solid rgba(49,158,72,1);
  }
  .v511_1051 {
    width: 846px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 109px;
    left: 216px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 76px;
    opacity: 1;
    text-align: center;
  }
  .v511_1052 {
    width: 500px;
    height: 86px;
    background: url("../images/v511_1052.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 363px;
    left: 389px;
    overflow: hidden;
  }
  .v511_1053 {
    width: 74px;
    color: rgba(236,236,236,1);
    position: absolute;
    top: 24px;
    left: 28px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1054 {
    width: 500px;
    height: 80px;
    background: url("../images/v511_1054.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(255,255,255,1);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .v511_1055 {
    width: 317px;
    height: 72px;
    background: url("../images/v511_1055.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 176px;
    overflow: hidden;
  }
  .v511_1056 {
    width: 132px;
    height: 63px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 185px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
  }
  .v511_1057 {
    width: 269px;
    height: 54px;
    background: url("../images/v511_1057.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1058 {
    width: 64px;
    color: rgba(2,58,21,1);
    position: absolute;
    top: 0px;
    left: 205px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v511_1059 {
    width: 9px;
    height: 13px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
  }
  .v511_1060 {
    width: 100%;
    height: 590px;
    background: url("../images/v511_1060.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3516px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1061 {
    width: 100%;
    height: 590px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1062 {
    width: 361px;
    height: 147px;
    background: url("../images/v511_1062.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 201px;
    left: 98px;
    overflow: hidden;
  }
  .v511_1063 {
    width: 192px;
    height: 35px;
    background: url("../images/v511_1063.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1064 {
    width: 68px;
    height: 35px;
    background: url("../images/v511_1064.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v511_1065 {
    width: 23px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 44px;
    border-radius: 50%;
  }
  .v511_1066 {
    width: 9px;
    height: 21px;
    background: url("../images/v511_1066.png");
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
  }
  .v511_1067 {
    width: 8px;
    height: 17px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 0px;
  }
  .v511_1068 {
    width: 81px;
    height: 35px;
    background: url("../images/v511_1068.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 28px;
    overflow: hidden;
  }
  .v511_1069 {
    width: 23px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 57px;
    border-radius: 50%;
  }
  .v511_1070 {
    width: 8px;
    height: 12px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 0px;
  }
  .v511_1071 {
    width: 92px;
    height: 35px;
    background: url("../images/v511_1071.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 58px;
    overflow: hidden;
  }
  .v511_1072 {
    width: 23px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 69px;
    border-radius: 50%;
  }
  .v511_1073 {
    width: 4px;
    height: 19px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 0px;
  }
  .v511_1074 {
    width: 108px;
    height: 35px;
    background: url("../images/v511_1074.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 83px;
    overflow: hidden;
  }
  .v511_1075 {
    width: 23px;
    height: 35px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 85px;
    border-radius: 50%;
  }
  .v511_1076 {
    width: 8px;
    height: 18px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 0px;
  }
  .v511_1077 {
    width: 4px;
    height: 9px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 1px;
  }
  .v511_1078 {
    width: 0px;
    height: 2px;
    background: rgba(2,58,21,1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 5px;
  }
  .v511_1079 {
    width: 317px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 44px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1080 {
    width: 121px;
    height: 181px;
    background: url("../images/v511_1080.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 584px;
    overflow: hidden;
  }
  .v511_1081 {
    width: 121px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v511_1082 {
    width: 112px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 64px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1083 {
    width: 121px;
    height: 187px;
    background: url("../images/v511_1083.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 800px;
    overflow: hidden;
  }
  .v511_1084 {
    width: 121px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v511_1085 {
    width: 112px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 64px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1086 {
    width: 121px;
    height: 187px;
    background: url("../images/v511_1086.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 1016px;
    overflow: hidden;
  }
  .v511_1087 {
    width: 121px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Cormorant;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v511_1088 {
    width: 112px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 64px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v511_1089 {
    width: 995px;
    height: 58px;
    background: url("../images/v511_1089.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 503px;
    left: 142px;
    overflow: hidden;
  }
  .v511_1090 {
    width: 317px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 27px;
    left: 338px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .v511_1092 {
    width: 126px;
    height: 74px;
    background: url("../images/v511_1092.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 119px;
    left: 95px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
